.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - (140px + 44px));
}

@media (min-width: 768px) and (max-width: 991px) {
  .information {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .information {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .information {
    width: 100%;
  }
}

.logo {
  width: 120px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.menu__list {
  padding-left: 0;
  list-style: none;
  width: 100%;
}

.menu__item {
  width: 100%;
  height: 20%;
  min-height: 66px;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: none;
  color: #34ACA7;
  font-size: 14px;
}

.menu__link p {
  margin: 0;
}

.menu__image {
  width: 22px;
  margin-left: 6px;
  margin-top: 5px;
  margin-right: 15px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 502px;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0;
    list-style: none;
    width: 100%;
    margin: 0;
  }
  .menu__item {
    width: 20%;
    min-height: 62px;
  }
  .menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu__image {
    width: 22px;
    margin: 0;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: calc(100% - (120px + 20px));
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0;
    list-style: none;
    width: 100%;
    margin: 0;
  }
  .menu__item {
    width: 20%;
    min-height: 22px;
  }
  .menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu__link p {
    font-size: calc(0.4em + 1vw);
  }
  .menu__image {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: calc(100% - 50px);
    margin-bottom: 37px;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0;
    list-style: none;
    width: 100%;
    margin: 0;
  }
  .menu__item {
    width: 20%;
    min-height: 22px;
  }
  .menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu__link p {
    font-size: calc(0.5em + 1vw);
  }
  .menu__image {
    display: none;
  }
}

.twit-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.twit-block__text {
  width: 100%;
  font-family: Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: none;
  color: black;
  font-size: 12px;
  text-align: left;
  margin: 5px 14px 0 0;
  padding-bottom: 5px;
  text-transform: uppercase;
  border-bottom: 1px dashed #E5E5E5;
}

.twit-block__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: none;
  color: #34ACA7;
  font-size: 10px;
  margin-top: 9px;
  margin-bottom: 5px;
}

.twit-block__image {
  width: 16px;
  margin: 8px 7px;
}

.twit-block__announcement {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: none;
  color: black;
  font-size: 10px;
  text-align: left;
}

@media (min-width: 768px) and (max-width: 991px) {
  .twit-block {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .twit-block {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .twit-block {
    display: none;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 140px;
  margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: none;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: none;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: none;
  }
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - (140px + 44px));
}

@media (min-width: 768px) and (max-width: 991px) {
  .information {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .information {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .information {
    width: 100%;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}

.slider__image {
  width: 100%;
  height: auto;
}

.slider__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  min-height: 85px;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  background-color: #EFF8F7;
  text-decoration: none;
}

.label:hover, .label.active {
  background-color: #D9EFEC;
}

.label__title {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: none;
  color: #34ACA7;
  font-size: 18px;
  margin: 0 0 0 20px;
  text-align: left;
}

.label__subtitle {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: none;
  color: #34ACA7;
  font-size: 10px;
  text-align: left;
  margin: 0 0 0 20px;
}

@media (min-width: 992px) and (max-width: 1175px) {
  .slider__image {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slider__labels {
    min-height: 30px;
  }
  .label {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .label__title {
    font-size: 14px;
    margin: 0;
  }
  .label__subtitle {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider__image {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slider__labels {
    min-height: 30px;
  }
  .label {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .label__title {
    font-size: 14px;
    margin: 0;
  }
  .label__subtitle {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .slider__labels {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .slider__labels {
    display: none;
  }
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  border-top: 1px dashed #E5E5E5;
  border-bottom: 1px dashed #E5E5E5;
}

.subscription__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 67%;
}

.subscription__image {
  max-width: 100%;
  margin: 10px 18px;
}

.subscription__text {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: none;
  color: black;
  font-size: 14px;
  margin: 10px 0;
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.subscription__input {
  width: 160px;
  height: 23px;
  outline: none;
  border: 1px solid #E5E5E5;
  padding-left: 6px;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  letter-spacing: none;
  color: #E5E5E5;
  font-size: 10px;
  margin-right: 18px;
}

.subscription__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 23px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F4F3F3), to(#BBB9B9));
  background: -webkit-linear-gradient(top, #F4F3F3 0%, #BBB9B9 100%);
  background: -o-linear-gradient(top, #F4F3F3 0%, #BBB9B9 100%);
  background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
  border: none;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  letter-spacing: none;
  color: black;
  font-size: 10px;
  margin-right: 18px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .subscription__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .subscription__input {
    width: 72%;
    margin-left: 18px;
    margin-bottom: 18px;
  }
  .subscription__btn {
    margin-bottom: 18px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .subscription__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .subscription__text {
    width: 80%;
    margin-right: 5px;
  }
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .subscription__input {
    width: 72%;
    margin-left: 18px;
    margin-bottom: 18px;
  }
  .subscription__btn {
    margin-bottom: 18px;
  }
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 23%;
  min-height: 371px;
  margin-bottom: 28px;
}

.card__image {
  max-width: 100%;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(128, 128, 128, 0.212);
          box-shadow: 0px 0px 4px 2px rgba(128, 128, 128, 0.212);
  margin-bottom: 10px;
}

.card__title {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  letter-spacing: none;
  color: #34ACA7;
  font-size: 16px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
}

.card__text {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: none;
  color: black;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
}

.card__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.card__date {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: none;
  color: #E5E5E5;
  font-size: 14px;
}

.card__link {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: none;
  color: #34ACA7;
  font-size: 14px;
  text-decoration: none;
}

@media (min-width: 480px) and (max-width: 767px) {
  .articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .card {
    width: 45%;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 433px;
    border-bottom: 2px solid #E5E5E5;
    margin: 0 auto;
  }
  .card {
    width: 84%;
    max-width: 362px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  max-width: 1080px;
  min-height: 90px;
  margin: 0 auto;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 26px;
  margin-left: 8px;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.footer-list__item {
  border-right: 1px solid #E5E5E5;
}

.footer-list__item:last-child {
  border-right: none;
}

.footer-list__link {
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: none;
  color: #34ACA7;
  font-size: 12px;
  padding: 5px;
}

.footer-list__link:first-child {
  padding-left: 0;
}

.footer__text {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: none;
  color: #E5E5E5;
  font-size: 12px;
  margin-top: 5px;
}

.social__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 26px;
  margin-right: 8px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0;
  list-style: none;
}

.social-list__link {
  text-decoration: none;
}

.social__image {
  max-width: 100%;
}

.social__image:nth-of-type(odd) {
  margin-left: 12px;
}

@media (min-width: 992px) and (max-width: 1175px) {
  .footer {
    max-width: 896px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer {
    max-width: 712px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .footer {
    max-width: 545px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .footer {
    max-width: 433px;
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-width: 1176px;
  max-width: none;
  height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 80%;
  max-width: 1080px;
  margin: 46px auto 0;
  border-bottom: 2px solid #E5E5E5;
}

@media (min-width: 992px) and (max-width: 1175px) {
  .page {
    min-width: 992px;
    max-width: 1175px;
  }
  .main {
    max-width: 896px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .page {
    min-width: 768px;
    max-width: 991px;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 712px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .page {
    min-width: 480px;
    max-width: 767px;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 545px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .page {
    width: 100%;
    min-width: 320px;
    max-width: 479px;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    border-bottom: none;
  }
}
