.information {
    display: flex;
    flex-direction: column;
    width: calc(100% - (140px + 44px));
}

@media (min-width: 768px) and (max-width: 991px) {
    .information {
        width: 100%;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .information {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .information {
        width: 100%;
    }
}
