.navigation {
    display: flex;
    flex-direction: column;
    width: 140px;
    margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: none;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: none;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .navigation {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: none;
    }
}
